.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }
  
  .paginationButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #b7b7b7;
    color: #282828;
    cursor: pointer;
    transition: all 0.3s ease-in-out  ;
  }
  
  .paginationButton:disabled {
    background: #282828;
    color: #fff;
    cursor: not-allowed;
  }
  
  .paginationButton:not(:disabled):hover {
    background: #686868;
    color: #fff;
  }
  