.title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .table button {
    margin-right: 4px;
    padding: 10px 15px;
    font-size: large;
    border-radius: 4px;
    background-color:#ddd;
    border: none;
    cursor: pointer;
  }
  
  .table button:hover {
    background-color: grey;
  }

  .actionsHeader {
    text-align: center;
  }
  
  .font {
    margin-right: 4px;
    padding: 10px 15px;
    font-size: large;
    
    
  }
  