.order-details-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-item-row td {
    padding-top: 10px;
    text-align: center;
  }

  .order-item-row th {
    text-align: center;
  }

  .custom-rating {
  color: yellow !important;
}
  
