.list-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-left: 300px;

  .return-to-home-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    cursor: pointer;
  }

  
}