.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  gap: 80px;
  max-height: 300px;
  max-width: 900px;
  overflow: hidden;

  img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    height: auto;
    object-fit: contain;
    object-position: center;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
      transform: scale(1.05);
    }
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    .info-container {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: space-between;

      .actions-container {
        display: flex;
        align-items: center;
        gap: 100px;

        .counter {
          display: flex;
          gap: 16px;
          border: 1px solid #888888;
          border-radius: 30px;
          padding: 10px 15px;
        }

        .delete {
          display: flex;
          gap: 16px;
          cursor: pointer;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      h4 {
        font-weight: 500;
      }
    }
  }
}