.container {
  padding: 40px;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

.ProfileForm {
    width: 100%;
    max-width: 800px;
    padding: 25px;
    margin: auto ;
    font-size: 16px;
    color: #fff;
    background-color: #282828;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .ProfileForm h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(360deg, rgba(2,94,255,1) 0%, rgba(2,117,255,1) 28%, rgba(2,141,255,1) 60%, rgba(2,200,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .ProfileForm form {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 30px;
  }
  
  .ProfileForm label {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    max-width: 400px;

    > span {
      background: linear-gradient(360deg, rgba(2,94,255,1) 0%, rgba(2,117,255,1) 28%, rgba(2,141,255,1) 60%, rgba(2,200,255,1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

    > input {
      margin: 0;
      width: -webkit-fill-available;
    }
  }
  
  .inputField{
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #ffffffd7;
    display: block;
  }
  
  .inputField:focus,
  .inputField:hover {
    background-color: #fff;
    outline: 2px solid rgba(2,240,255,1);
  }
  
  
  .ProfileForm input[type="submit"] {
    background: linear-gradient(360deg, rgba(2,94,255,1) 0%, rgba(2,117,255,1) 28%, rgba(2,141,255,1) 60%, rgba(2,200,255,1) 100%);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
    
  .ProfileForm input[type="submit"]:hover {
    background: linear-gradient(360deg, rgb(2, 134, 255) 0%, rgb(2, 157, 255) 28%, rgba(2,181,255,1) 60%, rgba(2,240,255,1) 100%);
  }

  .ProfileForm button {
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .ProfileForm button:hover {
    opacity: 0.8;
  }
  
  .ProfileForm .editBtn {
    background-color: #686868;
    color: #000;
  }
  
  .ProfileForm .editBtn:hover {
    background-color: #c7c7c7;
  }

  .ProfileForm .saveBtn {
    background: linear-gradient(360deg, rgba(2,94,255,1) 0%, rgba(2,117,255,1) 28%, rgba(2,141,255,1) 60%, rgba(2,200,255,1) 100%);
    color: black;
  }
  
  .ProfileForm .saveBtn:hover {
    background: linear-gradient(360deg, rgb(2, 134, 255) 0%, rgb(2, 157, 255) 28%, rgba(2,181,255,1) 60%, rgba(2,240,255,1) 100%);
  }
  
  
  .ProfileForm .homeBtn {
    background: rgba(255,255,255,0.3);
    color: black;
  }
  
  .ProfileForm .homeBtn:hover {
    background: rgba(255,255,255,0.5);
  }

  .selector-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
  }

  .selector-container .selector {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #b7b7b7;
  }

  .selector-container .selector > h4 {
    text-align: center;
    width: 50%;
    cursor: pointer;
    font-weight: 700;
    color: #888;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
  }

  .selector-container .selector > h4:hover,
  .selector-container .selector > h4.true{
    color: #fff;
  }

 .selector-container .selector > h4.true {
    border-bottom: 1px solid #fff;
  }

  .selector-container .selector-content {
    display: none;
    transition: opacity 0.3s ease-in-out;
  }

  .selector-container .selector-content[data-visible="true"] {
    display: block;
  }

  .orders-list {
    list-style: none;
    padding: 0;
  }
  
  .order-item {
    padding: 10px;
  }
  
  .order-info {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .order-details-toggle {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .order-details-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-item-row td {
    padding-top: 10px;
    text-align: center;
  }

  .order-item-row th {
    text-align: center;
  }
  
  .no-orders-message {
    margin: 20px 0;
    color: #999;
  }
  
  .user-data-label{
    margin-top: 10px;
    margin-left: 20px;
    font-size: x-large;
  }