.save {
    font-size: 16px;
    color: #fff;
    background: #282828;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    

    &:hover {
      color: black;
      background: linear-gradient(360deg, rgba(2,94,255,1) 0%, rgba(2,117,255,1) 28%, rgba(2,141,255,1) 60%, rgba(2,200,255,1) 100%);
      font-weight: 500;
    }
  }