body {
  margin-top: 70px;

  @media (max-width: 1023px) {
    margin-top: 55px;
  }
}

.hidden {
  opacity: 0;
}

.animate-appear-top {
  animation: appearFromTop 1s ease-in-out;
}

.animate-appear-bottom {
  animation: appearFromBottom 1s ease-in-out;
}

.animate-appear-left {
  animation: appearFromLeft 1s ease-in-out;
}

.animate-appear-right {
  animation: appearFromRight 1s ease-in-out;
}


@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
